<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt.Core" version="3.4.15" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="MonoGame.Framework.WindowsDX" version="3.8.0.1641" targetFramework="net461" />
  <package id="SharpDX" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.MediaFoundation" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.XAudio2" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>